<meta charset="utf-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <p v-if="logado">Usuário Logado: {{ nome }}</p>
  <p v-else-if="anonimo">Modo anônimo</p>
  <p v-else>Nenhum ususário logado</p>
  <button @click="logado = !logado">{{ logado ? "Sair" : "Entrar" }}</button>
  <input type="checkbox" v-model="anonimo" />

  <h1>Qual o melhor framework?</h1>
  <h2>
    <p v-if="theBest">Vue é claro</p>
    <p v-else>React</p>
  </h2>
  <input type="checkbox" v-model="theBest" />
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      nome: "Maria",
      logado: false,
      anonimo: false,
      theBest: false
    }
  });
</script>
