<meta charset="utf-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <template v-if="logado">
    <p>Usuário logado: {{ nome }}</p>
    <p>Perfil: Admin</p>
  </template>
  <p v-else-if="anonimo">Modo anônimo</p>
  <p v-else>Nenhum ususário logado</p>
  <button @click="logado = !logado">{{ logado ? "Sair" : "Entrar" }}</button>
  <input type="checkbox" v-model="anonimo" />
  <hr />
  <footer v-show="logado">
    Desenvolvido pra você!
  </footer>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      idade: 100,
      nome: "Maria",
      logado: false,
      anonimo: false,
      theBest: false
    }
  });
</script>
