<meta charset="utf-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <ul>
    <li v-for="(cor, index) in cores">{{ index + 1 }}. {{ cor }}</li>
  </ul>
  <hr />
  <ul>
    <li v-for="pessoa in pessoas">{{ pessoa.nome }}</li>
  </ul>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      cores: ["vermelho", "verde", "amarelo", "azul"],
      pessoas: [
        { nome: "Ana", idade: 28, peso: 60 },
        { nome: "Vinicius", idade: 26, peso: 50 },
        { nome: "Pedro", idade: 9, peso: 25 }
      ]
    }
  });
</script>
<style>
  ul {
    list-style: none;
  }
  h1,
  p {
    display: inline;
  }
</style>
